# Preliminary Data Analysis

## Data Cleaning

In [11]:
import pandas as pd
import numpy as np

Read in data

In [12]:
with open('../survey_data/scale_after_scale_2020-04-15.csv', newline='') as f:
    reader = pd.read_csv(f)

Drop unnecessary columns

In [13]:
columns = list(reader.columns)
del columns[20:24]
df = reader.drop(columns, axis=1)

In [14]:
df.head()

  player.pos_rating player.opt_rating player.hap_rating player.emo_rating
0               NaN               NaN               NaN               NaN
1               NaN               NaN               NaN               NaN
2               NaN               NaN               NaN               NaN
3               NaN               NaN               NaN               NaN
4               NaN               NaN               NaN               NaN

Drop empty rows

In [15]:
df.dropna(how='all', inplace=True)

In [16]:
df.head()

   player.pos_rating player.opt_rating player.hap_rating player.emo_rating
29           Neutral           Neutral           Neutral         Emotional
31           Negativ           Neutral         Verärgert         Emotional
32  Nicht zutreffend  Nicht zutreffend  Nicht zutreffend  Nicht zutreffend
33           Neutral  Nicht zutreffend           Neutral         Emotional
34  Nicht zutreffend  Nicht zutreffend  Nicht zutreffend  Nicht zutreffend

Rename columns

In [21]:
df.columns = ['pos', 'opt', 'hap','emo']

Recode values

In [22]:
values = [-1, 0, 1, np.nan]
value_dict = {'pos': values, 'opt':values, 'hap':values, 'emo': [-1, 1, np.nan]}
to_replace = {'pos': ['Negativ','Neutral','Positiv', 'Nicht zutreffend'], 'opt': ['Pessimistisch', 'Neutral', 'Optimistisch', 'Nicht zutreffend'], 'hap': ['Verärgert', 'Neutral', 'Zufrieden', 'Nicht zutreffend'], 'emo': ['Emotional', 'Sachlich', 'Nicht zutreffend' ]}
df = df.replace(to_replace=to_replace, value=value_dict)

In [23]:
df.head()

    pos  opt  hap  emo
29  0.0  0.0  0.0 -1.0
31 -1.0  0.0 -1.0 -1.0
32  NaN  NaN  NaN  NaN
33  0.0  NaN  0.0 -1.0
34  NaN  NaN  NaN  NaN

In [24]:
df.corr(method='spearman')

          pos       opt       hap       emo
pos  1.000000  0.752869  0.736080  0.079188
opt  0.752869  1.000000  0.677709  0.048267
hap  0.736080  0.677709  1.000000  0.115064
emo  0.079188  0.048267  0.115064  1.000000

Note that using corr() on DataFrame objects ignores pairs when one of the two is NaN.